html,body,#map, #app {
    height: 100%;
    width: 100%;
    margin: 0;
}
.el-collapse-item__arrow {
  display: none;
}
.el-dialog {
  border-radius: 15px;
}
.el-popper__arrow {
  display: none;
}
.popper-class {
  inset: 59.2px 3px auto auto !important;
}
svg {
	outline: none;
}
